.table {
    width: 40%;
}

input {
    height:20px;
    
}
.input10 {
    height: 150px;
    width: 200px;
    display: flex;
    align-items: flex-start;
}

label {
    font-size: 15px;
    font-weight: 600;
    color: #2B2E40;
}
.firstDiv {
    width: 60%;
}
.secondDiv {
    width: 40%;
}
.secondContainer {
    display: flex;
    flex-direction: row;
    padding: 5px 0 5px 0;
}